@import "../../styles/variables";

.paragraph {
  font-family: $typographyAlternative;
  font-size: $typographySizeXXXSmall;
  color: $lightSolid;
  padding: 0;
  margin: 0;


  &.-lightSolid {
    color: $lightSolid;
  }

  &.-yellow {
    color: $yellow;
  }
}
