$darkLow: #0F0F0F;
$darkHigh: #000000;
$lightGrey: #606060;
$darkGrey: #303030;

$lightSolid: #FFFFFF;
$yellow: #FFE81F;
$error: red;

:export {
  darkGrey: $darkGrey;
  darkLow: $darkLow;
  darkHigh: $darkHigh;
  lightGrey: $lightGrey;
  lightSolid: $lightSolid;
  yellow: $yellow;
  error: $error
}
