@import "../../../styles//variables";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 100px;
  height: 100px;
  background-color: #0F0F0F;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 32px;
  letter-spacing: 1.28px;
  line-height: 24px;
  text-align: center;
  color: #FFE81F;
}

.casting {
  padding-left: 16px;
  font-size: 24px;
  letter-spacing: 0.96px;
  line-height: 30px;
  color: #FFE81F;
}

.buttons-container {
  display: flex;
  align-items: center;
  *:first-child {
    margin-right: calc($baseline * 3)
  }
}

.button {
  color: $lightSolid;
  &:hover {
    background: #303030 0% 0% no-repeat padding-box;
  };
  border: none;
  width: 273px;
  height: 42px;
  border-radius: 999px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.64px;
  line-height: 0px;
  &:active {
    background: rgba(255, 255, 255, .2);
    transition: .5s ease-out;
  }
  &.-active {
    background: #303030;
  }
}
