@import "../../styles/variables";

.card {
  cursor: pointer;
  width: 273px;
  height: 448px;
  background-color: $darkGrey;
  border: 2px solid $lightGrey;
  padding: Calc($baseline * 2);
  position: relative;
}