@import "../../styles/variables";

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  > :not(:last-child) {
    margin-right: calc($baseline * 3);
  }
}
